.task-layout {
    cursor: pointer;
    width: 80%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.task-widget {
    margin: 8px;
    width: 400px;
    max-width: 500px !important;
    max-height: 500px;
    border-radius: 12px;
    background-color: rgb(236 247 255) !important;
    padding: 12px;
    overflow: hidden !important;
    flex: 1 1 300px;
    margin: 12px;
}

.task-widget:hover {
    box-shadow: 10px 8px 5px rgb(125, 185, 204, 0.3);
    transition: 0.2s ease-in-out;
}

.title {
    font-weight: bold;
    background-color: rgb(250, 250, 250);
    border-radius: 12px;
    padding: 12px;
}

.description {
    margin-top: 5px;
    border-radius: 12px;
    padding: 5px;
    max-height: calc(1.2em * 10);
    overflow: hidden;
    text-overflow: ellipsis;

}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 38px;
}

.fab i {
    line-height: 60px;
}

.fab:hover {
    background-color: #0056b3;
}